extends layout

block content
  //h1 hello

  //h1= title
  //p Welcome to #{title}
  .form__wrap
    form(action="/register" method="POST" name="registerForm")
      .form-row
        //classes .is-valid .is-invalid
        .col-12
            label(for='validName') First name
            input.form-control.is-valid(name='userName' type='text', placeholder='Name', value='')#validName
        .col-12
          label(for='validPassword') Password
          .input-group
            input.form-control.is-invalid(name='userPassword' type='text', placeholder='User name')#validPassword
        .col-12
          label(for='validConfirmPassword') Confirm password
          .input-group
            input.form-control.is-invalid(name='confirmPassword' type='text', placeholder='confirm-password')#validConfirmPassword
        .col-12
          label(for='validEmail') Email
          .input-group
            input.form-control.is-invalid(name='userEmail' type='text', placeholder='Email', aria-describedby='inputGroupPrepend3')#validEmail



        input.btn.btn-primary(type='submit' value="submit")



